<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindWise | Home</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-left">
            <div class="logo"> <img src="images/img/bed66fc55b7dcc5eb23bf385bdf7401a.png" style="width: 30px; height: 30px; border-radius: 50%;" alt=""> </div>
            <div class="nav-logo" style="font-family: 'Caveat'; font-size: 24px;">MindWise</div>
            <div class="nav-item"><a href="">Home</a></div>
            <div class="nav-item"><a href="/explore">Explore</a></div>
            <div class="nav-item"><a href="/chatbot">Service</a></div>
            <div class="nav-item"><a href="">Analytics</a></div>
        </div>
        <div class="navbar-right">
            <div class="search-bar"><input type="search" placeholder="Search" name="Seacrch" id="search-area"><i class="fa-solid fa-magnifying-glass"></i></div>
            <div class="notification-icon"><i class="fa-solid fa-bell" style="margin-right: 10px;"></i></div>
            <div class="profile-icon"><a href="/login"><img src="images/img/bed66fc55b7dcc5eb23bf385bdf7401a.png" alt=""></a></div>
        </div>
    </nav>
    <hr>

    <!-- Banner -->
    <div class="img-container">
        <img src="https://i.ibb.co/61bZXxr/eye1.png" alt="img1" class="img-1 img" />
        <img src="https://i.ibb.co/nz7tQQW/eye.png" alt="img2" class="img-2 img" />

        <!-- The CSS grid area that displays the semi-transparent gradient overlay (layer 2) -->
        <!-- <div class="banner-overlay-div"></div> -->
        <!-- The CSS grid area that displays the content (layer 3) -->
        <div class="banner-text-div">
          <span class="banner-text">
            <p class="banner-h1-text">Open Your Eye Towards <br>
                Mental Health</p>
            <p class="banner-body-text">Help Is Available.</p>
            <p class="banner-btn"><a class="banner-btn-item" href="/chatbot">Chat With Us</a></p>
          </span>
        </div>
    </div>
    
    

   


    <!-- <div class="banner-2">
       <div class="banner-2-text">
            <h1>A line To Tell To Chat</h1>
       </div>
       <div class="banner-2-search-box">
        <form action="/form/submit" method="GET"> 
            <input type="text" name="text" class="search" placeholder="Search here!">
            <input type="submit" name="submit" class="submit" value="Search">
        </form>
        </div>
    </div> -->


    <div class="wrap">
        <div class="box">
          <div class="box-top">
            <img class="box-image" src="images/img/Doctor1.avif" alt="">
            <div class="title-flex">
              <h3 class="box-title">Dr. Shobit Sharma</h3>
              <p class="user-follow-info">Psycologist</p>
            </div>
            <p class="description">Whipped steamed roast cream beans macchiato skinny grinder café. Iced grinder go mocha steamed grounds cultivar panna aroma.</p>
          </div>
          <a href="#" class="button">Chat With Kelsie</a>
        </div>
        <div class="box">
          <div class="box-top">
            <img class="box-image" src="images/img/doctor2.jpg" alt="">
            <div class="title-flex">
              <h3 class="box-title">Dr. Saumya Tyagi</h3>
              <p class="user-follow-info">Psychiatrist</p>
            </div>
            <p class="description">Whipped steamed roast cream beans macchiato skinny grinder café. Iced grinder go mocha steamed grounds cultivar panna aroma.</p>
          </div>
          <a href="#" class="button">Chat With Mark</a>
        </div>
        <div class="box">
          <div class="box-top">
            <img class="box-image" src="images/img/doctoe3.jpg" alt="">
            <div class="title-flex">
              <h3 class="box-title">Dr. Anvita Mishra</h3>
              <p class="user-follow-info">Neurologist</p>
            </div>
            <p class="description">Whipped steamed roast cream beans macchiato skinny grinder café. Iced grinder go mocha steamed grounds cultivar panna aroma.</p>
          </div>
          <a href="#" class="button">Chat With Taylor</a>
        </div>
        <div class="box">
          <div class="box-top">
            <img class="box-image" src="images/img/doctor4.jpg" alt="">
            <div class="title-flex">
              <h3 class="box-title">Dr. Vikas Shetty</h3>
              <p class="user-follow-info">Psychiatrists</p>
            </div>
            <p class="description">Whipped steamed roast cream beans macchiato skinny grinder café. Iced grinder go mocha steamed grounds cultivar panna aroma.</p>
          </div>
          <a href="#" class="button">Chat With Isaiah</a>
        </div>
        <div class="explore-btn">
            <button class="custom-btn btn-7"><span><a href="/login">Expore More</a></span></button>
        </div>
      </div>




      <div class="explore-sec">
        <div class="wrapper">
          <section id="section1">
            <a href="#section2" class="arrow__btn">‹</a>
            <div class="item">
              <img src="images/images/yoga1.jpg">
            </div>
            <div class="item">
              <img src="images/images/tedex1.jpg">
            </div>
            <div class="item">
              <img src="images/images/podcast1.jpg">
            </div>
            <div class="item">
              <img src="images/images/meditate1.jpg">
            </div>
            <div class="item">
              <img src="images/images/podcast3.jpg">
            </div>
            <a href="#section2" class="arrow__btn">›</a>
          </section>
          
          <section id="section2">
            <a href="#section1" class="arrow__btn">‹</a>
            <div class="item">
              <img src="images/images/yoga2.jpg">
            </div>
            <div class="item">
              <img src="images/images/yoga4.jpg">
            </div>
            <div class="item">
              <img src="images/images/podcast2.jpg">
            </div>
            <div class="item">
              <img src="images/images/meditate2.jpg">
            </div>
            <div class="item">
              <img src="images/images/podcast5.jpg">
            </div>
            <a href="#section1" class="arrow__btn">›</a>
          </section>
        </div>
        <div class="explore-btn">
          <button class="custom-btn btn-7"><span><a href="/explore">View More</a></span></button>
        </div>
      </div>



      <footer>
        <div class="footer">
        <div class="row">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
        
        <div class="row">
        <ul>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Our Services</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Career</a></li>
        </ul>
        </div>
        
        <div class="row">
        MindWise Copyright © 2024 DEXTERIX - All rights reserved || Designed By: Hope-Tech 
        </div>
        </div>
        </footer>

        <script src="https://kit.fontawesome.com/abbae87c93.js" crossorigin="anonymous"></script>
</body>
</html>