*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* ________________________________________NavBar________________________________________________ */

.navbar {
    /* background-color: rgb(123, 46, 46); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo{
    margin-left: 50px;
}

.nav-logo{
    margin-left: 10px;
    margin-right: 80px;
    cursor: pointer;
}

.nav-item a{
    margin-right: 80px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.navbar-right {
    margin-right: 80px;
    display: flex;
    align-items: center;
}

.search-bar {
    /* border: 1px solid black; */
    background-color: rgb(226, 226, 226);
    margin-right: 10px;
    border-radius: 20px;
    padding: 1px 8px;
    width: 300px;
    height: 25px;
}
.search-bar i{
    margin-top: 3px;

}

#search-area{
    /* border: 1px solid rgb(232, 21, 21); */
    width: 90%;
    height: 80%;
    border-radius: 50;
    display: inline;
    justify-content: center;
    overflow: hidden;
    background-color: transparent;
    border: none;
}

.profile-icon{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.profile-icon img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.search-bar,
.notification-icon,
.profile-icon {
    margin-left: 20px;
    color: black;
    cursor: pointer;
}

/* Chatbot */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .main
    {
        background-color: white;
        width: 100%;

    }
    .chat-container{
        max-height: 100vh;
        padding-bottom: 150px;
        overflow-y: auto;
    }
    :where(.chat-container, textarea)::-webkit-scrollbar{
        width: 6px;
    }
    :where(.chat-container, textarea)::-webkit-scrollbar-track{
        background-color: rgb(254, 212, 156);
        border-radius: 25px;
    }
    :where(.chat-container, textarea)::-webkit-scrollbar-thumb{
        background-color: rgb(195, 195, 195);
        border-radius: 25px;
    }

    .chat-container .chat{
    
        padding: 10px 10px;
        display: flex;
        justify-content: center;
        color:black;
    }
    .chat-container .chat.outgoing{
        background-color:white ;
        border: 1px solid none;
    }
    .chat-container .chat.incoming{
        background-color:white ;
        border: 1px solid none;
    }
    .chat .chat-content{
        display: flex;
        max-width: 1200px;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
    }
    .chat .chat-details{
        display: flex;
        align-items: center;
    }
    .chat .chat-details img{
        width: 35px;
        height: 35px;
        align-items: flex-start;
        object-fit: cover;

        border-radius: 2px;
    }
    .chat .chat-details p{
        white-space: pre-wrap;
        font-size: 1.05rem;
    padding: 0 50px 0 25px;
    }
    .typing-animation{
        display: inline-flex;
        padding-left: 25px;
    }
    .typing-animation .typing-dot
    {
        height: 7px;
        width: 7px;
        background-color: blue;
        border-radius: 50%;
        opacity: 0.7;
        margin: 0 3px;
        animation: animateDots 1.5s var(--delay) ease-in-out infinite;
    }
    @keyframes animateDots {
        0%,44%{
            transform: translateY(0px);
        }
        22%{
            opacity: 0.4;
            transform: translateY(-6px);
        }
        44%{
            opacity: 0.2;
        }

    }

    .typing-container
    {
        position: fixed;
        bottom: 0;
        width: 100%;
        display:flex;
        padding: 20px 10px;
        justify-content: center;
        background-color: white;
        border: 1px solid none;
    }
    .typing-container .typing-content{
        max-width: 950px;
        width: 100%;
        display: flex;
        align-items: flex-end;
    }
    .typing-container .typing-textarea{
        width: 100%;
        display: flex;
        position: relative;
    }
    .typing-textarea textarea{
        width: 100%;
        height: 55px;
        border: none;
        background-color:aliceblue;
        color: black;
        resize: none;
        border-radius: 32px;
        font: 2rem;
        padding: 15px 45px 15px 20px;
        box-shadow: inset 0 0 0 1px transparent;
        overflow: hidden;
        align-items: center;
        display: flex;

    }

    .typing-textarea textarea::placeholder{
        color: black;
    }
    .typing-textarea span{
        position: absolute;
        right: 0;
        bottom: 0;
        visibility: hidden;

    }
    .typing-textarea textarea:valid ~ span{
        visibility: visible;
    }
    .typing-content span{
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    }
    .typing-controls{
        display: flex;
    }
    .typing-controls span{
        margin-left: 7px;
        font-size: 1.4rem;
        border-radius: 32px;
    background-color: aliceblue;
    }
    .material-symbols-rounded{
      cursor:pointer;
    }
    .que{
      margin-left:10px;
    }
