<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindWise</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" href="/images/logo/Logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="container">
        <div class="navbar">
            <nav class="menu">

                <ul>
                <li><h3>MindWise</h3></li>
                <li><a href="#">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <img src="/images/logo/menu.png" class="menu-icon">
        </div class="content">
            <span class="first">Helping People To </span><br>
            <span class="last">Be Their Best Version </span>
        <div>
            <p class="main-content">we conducted extensive research on existing mental health and habit-forming apps, consulted with experts in the fields of psychology and technology, and conduct user testing to ensure the app is effective and user-friendly. By harnessing technology to promote personal growth, we aim to provide a practical and accessible tool for individuals to improve their mental health and overall well-being.</p>
            <img src="/images/logo/customer-service.png" class="customer-img">
        </div>
        <div class="buttons">
            <a href="/signup"><button type="button" class="Get-Started">GET STARTED</button></a>
            <button type="button" class="Learn-More">LEARN MORE</button>
        </div>
        <div class="bottom-page">
            <footer>
                <a href="https://mail.google.com/mail/u/0/#inbox"><img src="/images/logo/gmail.png.png" class="img-footer"></a>
                <a href="https://www.facebook.com/login/"><img src="/images/logo/facebook.png" class="img-footer"></a>
                <a href="https://www.instagram.com/accounts/login/"><img src="/images/logo/instagram.png" class="img-footer insta" ></a><br>
                Copyright © 2023 MindWise®
            </footer>
        </div>
    </div>
</body>
</html>